# This is the root editor config file
root = true

# Use unix line endings
[*]
end_of_line = lf
insert_final_newline = true

# 2 space indentation for everything
index_style = space
indent_size = 2

# Charset
charset = utf-8

[*.php]
charset = utf-8
indent_style = tab
indent_size = 4

# Trim whitespace if the editor supports it
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
