/* Feature Legacy */

#article-header.legacy-grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
	margin: 200px auto 0 auto;
	padding: 0 30px;
	max-width: calc(1170px + 60px);
}

#article-header.legacy-grid-container .featured-image {
	grid-column: 5 / span 4;
	background-color: #FFE303;
	width: 100%;
	padding-top: calc((3 / 2) * 100%);
	overflow: hidden;
	background-size: cover;
	background-position: center;
	margin-bottom: 60px;
}

#article-header.legacy-grid-container .heading {
	grid-column: 2 / span 10;
	margin-bottom: 40px;
}

#article-header.legacy-grid-container .author-date-category {
	grid-column: 2 / span 10;
	text-align: center;
	margin-bottom: 40px;
}

#article-header.legacy-grid-container .stand-first {
	display: none;
}

.article-content.legacy-article {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
	margin: 0 auto 100px auto;
	padding: 0 30px;
	max-width: calc(1170px + 60px);
}

.article-content.legacy-article > div {
	grid-column: span 12;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
}

.article-content.legacy-article > div * {
	grid-column: 3 / span 8;
}

.article-content.legacy-article h1,
.article-content.legacy-article h2 {
	font-size: 36px;
	line-height: 1.2em;
	letter-spacing: 0;
	text-transform: none;
	text-align: left;
	margin-bottom: 40px;
}

.article-content.legacy-article h3 {
	font-size: 36px;
	line-height: 1.2em;
	letter-spacing: 0;
	text-transform: none;
	text-align: left;
	margin: 30px 0 20px 0;
}

.article-content.legacy-article h1::first-letter,
.article-content.legacy-article h2::first-letter  {
	text-transform: capitalize;
}

.article-content.legacy-article p {
	margin-bottom: 20px;
}

.article-content.legacy-article p a {
	text-decoration: underline;
}

.article-content.legacy-article blockquote {
	grid-column: 5 / span 4;
	margin: 35px 0 50px 0;
}

.article-content.legacy-article blockquote p {
	font-family: 'Clearface Serial', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
}

.legacy-article img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 50px 0 60px 0;
}

.legacy-article > div div {
	width: 100% !important;
}

.legacy-article div div img {
	width: 100%;
	height: auto;
	margin: 50px 0 60px 0;
}

.legacy-article div div p.wp-caption-text {
	margin: -40px 0 60px 0;
}

.legacy-article .embed-container {
	position: relative;
	padding-top: calc((9 / 16) * 100%);
	overflow: hidden;
	height: 0;
	margin: 60px 0;
}

.legacy-article .embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.legacy-article p iframe {
	display: block;
	max-width: 100%;
	margin: 50px auto 40px auto;
}

.wp-playlist {
	margin: 60px 0 !important;
}

.legacy-article .article-credits {
	text-align: center;
	margin: 40px 0 0 0;
}

.legacy-article .article-credits p {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 1.4em;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

@media all and (max-width: 1199px) {

	#article-header.legacy-grid-container {
		margin: 265px auto 0 auto;
	}

	.article-content.legacy-article blockquote {
		grid-column: 4 / span 6;
	}
}

@media all and (max-width: 991px) {

	#article-header.legacy-grid-container .heading, 
	#article-header.legacy-grid-container .author-date-category,
	.article-content.legacy-article > div *
	 {
		grid-column: 2 / span 10;
	}

	.article-content.legacy-article blockquote {
		grid-column: 4 / span 6;
	}
}

@media all and (max-width: 768px) {

	#article-header.legacy-grid-container {
		margin: 305px auto 0 auto;
	}

	#article-header.legacy-grid-container .featured-image {
		grid-column: 4 / span 6;
	}

	#article-header.legacy-grid-container .heading, 
	#article-header.legacy-grid-container .author-date-category,
	.article-content.legacy-article > div * {
		grid-column: span 12;
	}

	.article-content.legacy-article blockquote {
		grid-column: 3 / span 8;
	}
}

@media all and (max-width: 575px) {

	#article-header.legacy-grid-container {
		grid-column-gap: 0;
		margin: 100px auto 0 auto;
	}

	.article-content.legacy-article {
		grid-column-gap: 0;
		margin: 0 auto 60px auto;
	}

	#article-header.legacy-grid-container .featured-image {
		grid-column: 3 / span 8;
		margin-bottom: 50px;
	}

	#article-header.legacy-grid-container .author-date-category h4 {
		line-height: 1.4em;
	}

	.article-content.legacy-article h1,
	.article-content.legacy-article h2,
	.article-content.legacy-article h3 {
		font-size: 24px !important;
	}

	.article-content.legacy-article blockquote {
		grid-column: 2 / span 10;
		margin: 25px 0 40px 0;
	}

	.article-content.legacy-article blockquote p {
		font-size: 24px;
		letter-spacing: 0.5px;
	}

	.legacy-article img,
	.legacy-article div div img,
	.legacy-article .embed-container,
	.legacy-article p iframe,
	.wp-playlist {
		margin: 30px 0 30px 0;
	}

	.legacy-article div div p.wp-caption-text {
		margin: -20px 0 30px 0;
	}
}

