.content {
	height: 200vh;
}


/* header-navigation */

/* Header */

header {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: white;
	transition: top .3s;
}

header .header-navbar-top {
	grid-column: span 12;
	padding: 25px 0 0 0;
}

header .header-navbar-top .header-nav {
	grid-column: span 5;
}

header .header-navbar-top .header-nav h4 {
	display: inline-block;
}

header .header-navbar-top .header-nav h4:not(:last-child) {
	margin: 0 30px 0 0;
}

header .header-navbar-top .header-logo {
	grid-column: span 2;
	text-align: center;
}

header .header-navbar-top .header-logo img {
	max-width: 75px;
	height: auto;
}

header .header-navbar-top .social-media {
	grid-column: span 5;
	text-align: right;
}

header .header-navbar-top .social-media .nav-link:not(:first-child) {
	margin: 0 0 0 30px;
}

header .header-navbar-top .social-media .nav-link i {
	font-size: 15px;
}

header .header-navbar-bottom {
	grid-column: span 12;
	padding: 10px 0 15px 0;
	font-family: 'Clearface Serial', serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

header .header-navbar-bottom .nav-link {
	padding-bottom: 5px;
}

header .header-navbar-bottom .nav-link {
	margin: 0 25px;
}

header .header-navbar-bottom .nav-link:hover {
	padding-bottom: 4px;
	border-bottom: 1px solid black;
}

header .header-navbar-bottom .nav-link.active {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	letter-spacing: 0;
}

header .header-navbar-bottom .nav-link.active:hover {
	padding-bottom: 0px;
}

header button#nav-toggle {
	grid-column: span 12;
	background-color: transparent;
	height: 34px;
	padding: 5px;
	border: 0;
	margin: 10px auto;
}

header button#nav-toggle:hover {
	background-color: transparent;
}

header button#nav-toggle .icon-bar {
    display: block;
    width: 39px;
    height: 1px;
    background-color: black;
    margin: 0 0 10px 12px;
    transition: all .3s ease-in-out;
}

header button#nav-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

header button#nav-toggle .middle-bar {
    width: 0px;
}

header button#nav-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
}

header button#nav-toggle.collapsed .icon-bar {
	margin: 0 0 10px 0;
}

header button#nav-toggle.collapsed .top-bar {
    transform: rotate(0);
}

header button#nav-toggle.collapsed .icon-bar {
    width: 30px;
}

header button#nav-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

@media all and (max-width: 1199px) {

	header .header-navbar-top .header-nav {
		grid-column: span 12;
		order: 2;
		text-align: center;
		margin-bottom: 20px;
	}

	header .header-navbar-top .header-nav h4 {
		margin: 0 15px 0 15px !important;
	}

	header .header-navbar-top .header-logo {
		grid-column: span 12;
		order: 1;
		margin: 0 0 20px 0;
	}

	header .header-navbar-top .social-media {
		grid-column: span 12;
		order: 3;
		text-align: center;
	}

	header .header-navbar-bottom .nav-link {
		margin: 0 5px;
	}
}

@media all and (max-width: 575px) {

	header {
		top: -370px;
	}

	header .header-navbar-bottom {
		padding: 20px 0 5px 0;
	}
}

header.inverse {
	background-color: black;
}

header.inverse .header-navbar-top .nav-link,
header.inverse .header-navbar-bottom,
header.inverse .header-navbar-bottom .nav-link {
	color: white;
}

header.inverse .header-navbar-bottom .nav-link:hover {
	border-bottom: 1px solid white;
}

header.inverse button#nav-toggle .icon-bar {
    background-color: white;
}
