/* Magazine */

#magazine {
	background-color: black;
}

#magazine section {
	margin: 100px 0;
}

#magazine section a {
	text-decoration: underline;
}

#magazine h1,
#magazine h2,
#magazine h3,
#magazine h4,
#magazine p,
#magazine a {
	color: white;
}

#magazine h1 {
	text-align: center;
	margin-bottom: 100px;
}

#magazine h2 {
	font-size: 36px;
	line-height: 1em;
	letter-spacing: 0;
	text-transform: uppercase;
	text-align: left;
}

#magazine h3 {
	text-align: center;
	margin-bottom: 60px;
}

#magazine h4 {
	margin-bottom: 5px;
}

#magazine hr {
	grid-column: 2 / span 10;
	border: 0;
	width: 100%;
	height: 1px;
	background: white;
	margin-top: 100px;
}

#magazine #about {
	margin-top: 180px;
}

#magazine #about h3 {
	grid-column: 2 / span 10;
}

#magazine #about h1 {
	grid-column: 2 / span 10;
}

#magazine #about h2 {
	grid-column: 2 / span 10;
	line-height: 1.2em;
	text-transform: none;
}

#magazine #contact .left-column {
	grid-column: 2 / span 5;
}

#magazine #contact .right-column {
	grid-column: span 5;
}

#magazine #contact a {
	text-decoration: none;
}

#magazine p:not(:last-child) {
	margin-bottom: 40px;
}

#magazine #faq h3 {
	grid-column: 2 / span 10;
}

#magazine #faq .left-column {
	grid-column: 2 / span 5;
}

#magazine #faq .right-column {
	grid-column: span 5;
}

#magazine #stockists h3 {
	grid-column: 2 / span 10;
	margin-bottom: 40px;
}

#magazine #stockists .store_locator_plus {
	grid-column: 2 / span 10;
}

#magazine #stockists .store_locator_plus #searchForm {
	margin-bottom: 60px;
}

#magazine #stockists .store_locator_plus #sl_div label.text, 
#magazine #stockists .store_locator_plus #addy_in_radius,
#magazine #stockists .store_locator_plus .slp_map {
	display: none;
}

#magazine #stockists .store_locator_plus .slp_search_form .search_box {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin-bottom: 40px
}

#magazine #stockists .store_locator_plus input[type=text] {
	background: transparent;
	outline: none;
	border: 2px solid white;
	width: 290px;
	height: 46px;
	padding: 0 15px;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: white;
	margin: 0 15px 0 0;
}

#magazine #stockists .store_locator_plus input[type=text]::placeholder {
	color: white;
}

#magazine #stockists .store_locator_plus input[type=submit] {
	outline: none;
 	border: none;
 	background-color: transparent;
 	cursor: pointer;
 	height: 50px;
 	padding: 0 40px;
 	border: 2px solid white;
 	border-radius: 0;
 	font-family: 'Poppins', sans-serif;
 	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: white;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
}

#magazine #stockists .store_locator_plus input[type=submit]:hover,
#magazine #stockists .store_locator_plus input[type=submit]:focus,
#magazine #stockists .store_locator_plus input[type=submit]:active {
	outline: none;
 	border: none;
 	background-color: transparent;
 	cursor: pointer;
 	height: 50px;
 	padding: 0 40px;
 	border: 2px solid white;
 	border-radius: 0;
	background-color: white;
	color: black;
}

#magazine #stockists .store_locator_plus .slp_results_container {
	cursor: default;
	max-width: 100%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4em;
	letter-spacing: 0;
	margin: 0 0 0 0;
	color: white;
}

#magazine #stockists .store_locator_plus .slp_results_container .results_wrapper {
	grid-column: span 4;
	border-radius: 0;
	border: 0;
	cursor: default;
	margin-bottom: 40px;
}

#magazine #stockists .store_locator_plus .slp_results_container .results_row_left_column span,
#magazine #stockists .store_locator_plus .slp_results_container .location_secondary span {
	display: block;
}

#magazine #stockists .store_locator_plus .slp_results_container .location_name {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

#magazine #stockists .store_locator_plus .slp_results_container .location_distance {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#magazine #stockists .store_locator_plus .slp_results_container .location_secondary {
	margin-bottom: 10px;
}

#magazine #stockists .store_locator_plus .slp_results_container .slp_result_website {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#magazine #stockists .store_locator_plus .slp_results_container .slp_result_website a {
	text-decoration: none !important;
}

#magazine #stockists p.stockist-enquiry {
	grid-column: 4 / span 6;
	text-align: center;
	line-height: 1.4em;
	margin-top: 20px;
}

#magazine footer {
	padding-top: 0;
}

#magazine footer .footer-navbar {
	border-top: 1px solid white;
	padding-top: 100px;
}

#magazine footer .mailing-list h3 {
    text-align: left;
    margin-bottom: 30px;
}

@media all and (max-width: 1199px) {

	#magazine #about {
		margin-top: 245px;
	}
}

@media all and (max-width: 991px) {

	#magazine #about {
		margin-top: 285px;
	}

	#magazine #contact h2 {
		font-size: 24px;
		letter-spacing: 0.5px;
	}
}

@media all and (max-width: 768px) {

	#magazine hr,
	#magazine #about h3,
	#magazine #about h1,
	#magazine #about h2,
	#magazine #faq .left-column,
	#magazine #faq .right-column,
	#magazine #stockists .store_locator_plus {
		grid-column: span 12;
	}

	#magazine #contact .left-column,
	#magazine #contact .right-column,
	#magazine #stockists .store_locator_plus .slp_results_container .results_wrapper {
		grid-column: span 6;
	}

	#magazine #stockists p.stockist-enquiry {
		grid-column: 2 / span 10;
	}

	#magazine #stockists .store_locator_plus .slp_search_form .search_box {
		display: block;
	}

	#magazine #stockists .store_locator_plus input[type=text] {
		width: calc(100% - 34px);
		margin-bottom: 15px;
	}
}

@media all and (max-width: 575px) {

	#magazine section {
		margin: 60px 0;
	}

	#magazine hr {
		margin-top: 60px
	}

	#magazine #contact .left-column,
	#magazine #contact .right-column,
	#magazine #stockists .store_locator_plus .slp_results_container .results_wrapper,
	#magazine #stockists p.stockist-enquiry {
		grid-column: span 12;
	}
	
	#magazine #about {
		margin-top: 80px;
	}

	#magazine #about h3 {
		margin-bottom: 40px;
	}

	#magazine #about h1 {
		margin-bottom: 40px;
	}

	#magazine #about h2 {
	    font-size: 24px !important;
	}

	#magazine #contact h2 {
		font-size: 24px !important;
		text-align: center;
		margin-bottom: 60px;
	}

	#magazine footer .footer-navbar {
		padding-top: 60px;
	}
}


#magazine .slp_search_form .search_box .search_item {
	display: block !important;
	flex: inherit !important;
}

.slp_results_container .results_wrapper {
    margin: inherit;
    padding: inherit;
    border: solid 1px lightgrey;
    border-radius: .5em;
}


.slp_results_container .results_wrapper:hover {
	background-color: inherit !important;
}


.slp_results_container .results_wrapper .location_distance {
    float: unset !important;
}
