/* Store Locator Module */

#store-locator-module {
	background-color: black;
	padding: 100px 0;
	color: white;
}

#store-locator-module .container {

}

#store-locator-module .title {
	grid-column: span 6;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#store-locator-module .info {
	grid-column: span 6;
	display: flex;
	align-items: center;
}

#store-locator-module .info h4 {
	margin: 0 0 15px 0;
}

#store-locator-module .info .form-field {
	width: 100%;
}

#store-locator-module .info .form-field label {
	font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

#store-locator-module .info .form-field .input-button-container {
	display: flex;
	align-items: center;
	margin: 12px 0 0 0;
}

#store-locator-module .info .form-field input[type=text] {
	border: 2px solid white;
	color: white;
	width: 290px;
    max-width: 100%;
    margin: 0 15px 0 0;
}

#store-locator-module .info .form-field input[type=text]::placeholder {
	color: white;
}

#store-locator-module .info .form-field button {
	color: white;
 	border: 2px solid white;
 	margin: 0;
}

#store-locator-module .info button:hover {
	background-color: white;
	color: black;
}

@media all and (max-width: 1199px) {

	h2 {
		font-size: 52px;
		letter-spacing: .75px;
	}
}

@media all and (max-width: 991px) {

	#store-locator-module .title {
		grid-column: span 12;
		justify-content: flex-start;
		text-align: left;
		margin-bottom: 20px;
	}

	#store-locator-module .info {
		grid-column: span 12;
	}
}

@media all and (max-width: 828px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 575px) {

	#store-locator-module {
		padding: 60px 0;
	}

	#store-locator-module .info .form-field .input-button-container {
		display: inline;
	}

	#store-locator-module .info .form-field input[type=text] {
		width: calc(100% - 34px);
		margin: 12px 0 15px 0;
	}
}

