{% extends "layout.twig" %}

{% block content %}	

<section class="grid-container digital-features-container">

	<div class="digital-features-sidebar-container">

	<div class="digital-features-title-container">
		<h1 class="digital-features-title">Digital</h1>
		<h1 class="digital-features-subtitle">Features</h1>
	</div>	

	</div>	

	{% include 'partials/grid.twig' %}

</section>

{% endblock %}