<section id="store-locator-module">
	<div class="container">
		<div class="title">
			<h2>Find Your<br><span class="poppins">Closest Store</span></h2>
		</div>
		<div class="info">
			<div class="form-field">
				<label for="address-input">Enter city or postcode</label>
				<div class="input-button-container">
					<input type="text" name="address-input" id="addressInput" placeholder="City or postcode""><a href="/magazine#stockists"><button name="submit" id="addressSubmit">Find</button></a>
				</div>
			</div>
		</div>
	</div>
</section>