<!-- Subscription -->
<section id="subscription">
	<div class="container">
		<div class="title">
			<h2>Subscribe To Access <span class="poppins">Printed Only Features</span></h2>
		</div>
		<div class="info">
			<h4>UK £68.99 <span class="worksans">/</span> Eu + ROW £89.99 <span class="worksans">/</span> Asia £107.99</h4>
			<p>Get our annual subscription now to access all printed only features and receive a free tmrw tote bag and a notebook.<sup> 1</sup></p>
			<a href="http://tmrw-mag.test/product/six-month-subscription/"><button formaction="http://tmrw-mag.test/product/six-month-subscription/">Subscribe</button><a>
			<p class="small"><sup>1 </sup>This offer is valid as long as stock of tote bags and notebooks last.</p>
		</div>
	</div>
</section>