	<section id="video-module">
		<video id="video-loop" autoplay muted poster="img/behind-the-scenes-kris-wu-poster.jpg">
			<source src="video/behind-the-scenes-kris-wu.mp4#t=2,8" type="video/mp4">
		</video>
		<div class="container">
			<div class="title">
				<h2>Behind<br class="mobile-hide"> the Scenes<br> &mdash; <span class="poppins">Kris Wu</span></h2>
			</div>
			<div class="play">
				<a href="#video-module-modal"><button></button></a>
			</div>
			<div class="info">
				<p>
					See exclusive behind the scenes with our volume N<sup>o</sup> 26 coverstar Kris Wu.
				</p>
			</div>
		</div>
		<div id="video-module-modal" class="modal-window">
			<a href="#video-module">
				<button id="modal-close" class="">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</a>
			<div class="modal-container">
				<video controls poster="img/behind-the-scenes-kris-wu-poster.jpg">
					<source src="video/behind-the-scenes-kris-wu.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</section>	
