
.back-archive-container {
	background-color: black;
	color: white;
}

.back-archive-title-container {
	grid-column: 1/span 12;
	display: flex;
	margin-bottom: 35px;
	@media(width > 767px) {
		margin-bottom: 70px;	
	}
}

.back-archive-title {
	font-family: 'ClearfaceSerial', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 1;
	padding: 50px 0;
	@media (width > 767px) {
		font-size: 71px;
		padding: 100px 0;
	}
}

.back-archive-title span{
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 1;
	@media (width > 767px) {
		font-size: 71px;
	}
}


.back-archive-slider-container {
	grid-column: 1/span 12;
}



.back-archive-title,
.back-archive-slider-container .grid-item-title,
.back-archive-slider-container .grid-item-subtitle,
.back-archive-slider-container .grid-item-link {
	color:white !important;
}