.features-container {
		@media (width > 767px) {
		padding-top: 140px;
	}
}

.select-categories-container {
	grid-row: 1;
	grid-column: 1/span 4;
}

.features-container .grid-items {
	grid-row: 1;
	grid-column: 5/span 12;
}
