/* Footer */

footer {
	background-color: black;
	padding: 100px 0 !important;
	color: white;
}

footer a {
	color: white;
}

footer .footer-navbar {
	grid-column: span 12;
	margin-bottom: 100px;
}

footer .footer-navbar .footer-nav {
	grid-column: span 5;
}

footer .footer-navbar .footer-nav h4 {
	display: inline-block;
}

footer .footer-navbar .footer-nav h4:not(:last-child) {
	margin: 0 30px 0 0;
}

footer .footer-navbar .footer-logo {
	grid-column: span 2;
	text-align: center;
}

footer .footer-navbar .footer-logo img {
	max-width: 75px;
	height: auto;
}

footer .footer-navbar .social-media {
	grid-column: span 5;
	text-align: right;
}

footer .footer-navbar .social-media .nav-link:not(:first-child) {
	margin: 0 0 0 30px;
}

footer .footer-navbar .social-media .nav-link i {
	font-size: 15px;
}

footer .mailing-list {
	grid-column: span 12;
	margin-bottom: 100px;
}

footer .mailing-list h3 {
	margin-bottom: 30px;
}

footer .mailing-list p {
	margin-bottom: 30px;
}

footer .mailing-list .checkbox-container {
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 0;
	text-transform: none;
	margin-bottom: 30px;
}

footer .mailing-list .text-field {
	display: flex;
	align-items: center;
}

footer .mailing-list .text-field input[type=text] {
	border: 2px solid white;
	width: 390px;
	color: white;
	margin: 0 15px 0 0;
}

footer .mailing-list .text-field input[type=text]::placeholder {
	color: white;
}

footer .mailing-list .text-field button {
	color: white;
 	border: 2px solid white;
 	margin: 0;
}

footer .mailing-list .text-field button:hover {
	background-color: white;
	color: black;
}

footer .credits {
	grid-column: span 12;
}

footer .credits .site-credits {
	grid-column: span 6;
}

footer .credits .copyright {
	grid-column: span 6;
	text-align: right;
}

@media all and (max-width: 1199px) {

	footer .footer-navbar .footer-nav {
		grid-column: span 12;
		order: 2;
		text-align: center;
		margin-bottom: 20px;
	}

	footer .footer-navbar .footer-nav h4 {
		margin: 0 10px 0 10px !important;
	}

	footer .footer-navbar .footer-nav h4:last-child {
		margin: 0 0 0 10px !important;
	}

	footer .footer-navbar .footer-nav h4:first-child {
		margin: 0 10px 0 0 !important;
	}

	footer .footer-navbar .footer-logo {
		grid-column: span 12;
		order: 1;
		margin: 0 0 20px 0;
	}

	footer .footer-navbar .social-media {
		grid-column: span 12;
		order: 3;
		text-align: center;
	}
}

@media all and (max-width: 768px) {

	footer .mailing-list .text-field {
		display: inline;
	}

	footer .mailing-list .text-field input[type=text] {
		width: calc(100% - 34px);
		margin: 0 0 15px 0;
	}
} 

@media all and (max-width: 575px) {

	footer {
		padding: 60px 0;
	}

	footer .credits .site-credits {
		grid-column: span 12;
		margin-bottom: 10px;
	}

	footer .credits .copyright {
		grid-column: span 12;
		text-align: left;
	}
}

