/* header-navigation */

* {
	border: 1px red solid;
}

.container {
	padding: 0 30px;
	max-width: calc(1170px + 60px);
	margin: 0 auto;
}

.header {
	position: fixed;
	width: 100%;
	padding: 25px 0;
}

.header-nav-bar {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.header-nav-bar {

}

.header-info-item {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1.8px;
	text-decoration: none;
	outline: 0;
	background-color: transparent;
	border: 0;
	text-transform: uppercase;
	padding: 0;
	cursor: pointer;
}

.header-nav {
	width: 40%;
}

.header-nav .header-info-item:not(:last-child) {
	margin: 0 30px 0 0;
}

.header-logo {
	width: 20%;
	text-align: center;
}

.header-logo img {
	max-width: 75px;
	height: auto;
}

.social-media {
	width: 40%;
	text-align: right;
}

.social-media .header-info-item {
	margin: 0 0 0 30px;
}

.social-media .header-info-item i {
	font-size: 15px;
}

@media only screen and (max-width: 940px) {
	.header-nav-bar {
		display: block;
	}

	.header-nav,
	.header-logo,
	.social-media {
		width: 100%;
		text-align: center;
	}

	.header-logo {
		margin: 20px 0 15px 0;
	}

	.social-media .header-info-item {
		margin: 0 0 0 0;
	}

	.social-media .header-info-item:not(:last-child) {
		margin: 0 30px 0 0;
	}
}

