/* header */

.header {
	position: fixed;
	background-color: white;
	width: 100%;
	top: 0;
	margin: 25px 0 0 0 !important;
	z-index: 1000000;
}

.header .nav-link {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}

.header .nav-item {
	text-align: center;
	display: none;
	@media(width > 767px) {
		display: block;
		height: 70px;
	}
}

.nav-wrapper {
	grid-column: 3/span 8;
}

.header-info {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	grid-column: 2/span 10;
}

.header-info-search {
	width: 40%;
	display: none;
	align-items: center;
	@media(width > 767px) {
	display: inline-flex;
		height: 70px;
	}
}

.header-info-item {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	margin: 0 30px 0 0;
	text-decoration: none;
	outline: 0;
	background-color: transparent;
	border: 0;
	text-transform: uppercase;
	padding: 0;
	cursor: pointer;
}

.header-logo {
	max-width: 120px;
	width: 20%;
	text-align: center;
}

.social-media {
	width: 40%;
}