.legacy-grid-container {
    margin: 200px 0 100px;

    & .featured-image {
    	max-width: 400px;
    }

    & .author-date-category {
    	text-align: center;
    }

    & .heading {
    	max-width: 800px;
    	margin: 0 auto;
    }
}

.legacy-article {
	& h2, & p {
		margin: 30px 20px;
		@media (width > 767px) {
			margin: 30px 235px;
		}
	}



	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	& iframe {
    margin: 30px auto;
    width: 100%;
    height: 500px;
    object-fit: contain;		
	}
}