/* magazine */

#magazine {
	background-color: black;
}

* {
//	border: 1px red solid;
}

#header.inverse {
	background-color: black;
}

#header.inverse .header-navbar-top .nav-link,
#header.inverse .header-navbar-bottom,
#header.inverse .header-navbar-bottom .nav-link {
	color: white;
}

#header.inverse .header-navbar-bottom .nav-link:hover {
	border-bottom: 1px solid white;
}