.recommended-article-container {
}

.recommended-article-header-container {
	padding: 0!important;
}

.recommended-article-strapline-container {
	margin: 25px 0 5px!important;
	@media (width > 767px) {
		margin: 50px 0 5px!important;
	}
}

.recommended-feature-button {
	text-align: center;
}

.recommended-article-body {
	  animation-name: opacity;
    animation-duration: 0.01s;
    animation-iteration-count: 1;

}


@keyframes opacity {
    from {opacity: 1;}
    to {opacity: 0;}
}