/* WooCommerce */
.woocommerce-error,
.woocommerce-message {
	display: none;
}

.wc-forward:hover {
	color: white;
}

/* General */

html, body {
    height:100%;
}

body {
	overflow-x: hidden;
}

img {
	width: 100%;
}

a {
	outline: 0;
	text-decoration: none;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	color: black;	
}

.embed-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  & iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
	}
}


/* Grid */

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
	margin: 0 auto;
	padding: 0 30px;
	max-width: calc(1170px + 60px);
}

.container-nested {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
}


/* Buttons & Forms */

button {
	outline: none;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	height: 50px;
	padding: 0 40px;
	border: 2px solid black;
	border-radius: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 1.2em;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	transition: background-color .3s, color .3s;
	margin: 20px 0;
}

button:hover {
	background-color: black;
	color: white;
}

input[type=text],
input[type=email],
input[type=tel]
{
	font-family: Work Sans,sans-serif;
  font-size: 16px;
	background: transparent;
	outline: none;
	border: 2px solid black;
	border-radius: 0;
	height: 46px;
	padding: 0 15px;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder 
{
	color: black;
	opacity: .25;
}



/* Checkbox Container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 2px solid white;
    border-radius: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 7px;
    top: 2px;
	width: 5px;
	height: 11px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



/* Radio Container */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 2px solid black;
    border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: black;
}



/* Break Points & Display */

.tablet-display {
	display: none;
}

.tablet-hide: {
	display: inline;
}

.mobile-display {
	display: none;
}

.mobile-hide: {
	display: inline;
}

@media all and (max-width: 1199px) {}

@media all and (max-width: 991px) {}

@media all and (max-width: 768px) {

	.tablet-display {
		display: inline;
	}

	.tablet-hide {
		display: none;
	}
}

@media all and (max-width: 575px) {

	.container,
	.container-nested {
		grid-column-gap: 0;
	}
	
	.mobile-display {
		display: inline;
	}

	.mobile-hide {
		display: none;
	}
}

