{% extends "layout.twig" %}

{% block content %}	
		<section id="latest-content" class="category">
		<div class="container">
		<h3>{{wp_title}}</h3>
	</div>
	{% include 'partials/grid.twig' %}
	</section>
	{% include 'partials/footer.twig' %}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	
	<!-- Load More JS -->
	<script src="{{theme.link}}/js/loadMore.js"></script>


{% endblock %}