{% extends "layout.twig" %}


{% block content %}	


	<section id="features">
		<div class="container">
			<div class="side-nav-column">
				<div class="side-nav filters">
					<h3>Select <span class="poppins">Category</span></h3>
					

					<label class="radio-container">All
						<input type="radio" name="gategory" value="all" checked="checked">
						<span class="checkmark"></span>
					</label><br class="tablet-hide">



				{% for category in categories %}


					<label class="radio-container">{{category.name}}
						<input type="radio" name="gategory" value="{{category.name}}">
						<span class="checkmark"></span>
					</label><br class="tablet-hide">
					
				{% endfor %}


				</div>
			</div>



			<div class="container-nested features-list">
				

					{% include 'partials/features-cat.twig' %}

				

			</div>
		
		</div>
	</section>

	{% include 'partials/store-locator-front.twig' %}

	{% include 'partials/subscription.twig' %}

{% endblock %}



{% block scripts %}
{{ parent() }}

	<script type="text/javascript" src="{{theme.link}}/dist/js/features.js"></script>

	<!-- Mobile Nav Toggle -->
	<script type="text/javascript">
		function navToggle() {
			var header = document.getElementById("header");
			var navToggle = document.getElementById("nav-toggle");
			if (header.style.top === "0px") {
				header.style.top = "-370px";
			} else {
				header.style.top = "0px";
			};
			navToggle.classList.toggle("collapsed");
		}
	</script>

	

	<!-- Line Clamp -->
	<script type="text/javascript" src="js/clamp.min.js"></script>
	<script type="text/javascript">
		var featureBody = document.querySelector(".feature-body p");
		$clamp(featureBody, {clamp: 6});
	</script>

	<!-- Load More -->
	<script type="text/javascript">
		$(document).ready(function () {
			$(".feature").slice(0, 6).show();
			if ($(".feature:hidden").length != 0) {
				$("#load-more-button").show();
			}   
			$("#load-more-button").on('click', function (e) {
				e.preventDefault();
				$(".feature:hidden").slice(0, 6).fadeIn('slow');
				if ($(".feature:hidden").length == 0) {
				$("#load-more-button").fadeOut('300');
				}
			});
		});
	</script>


{% endblock %}