
{% extends "layout.twig" %}

{% block content %}



<section class="grid-container checkout-container">


    {% filter shortcodes %}
     	[woocommerce_checkout]
    {% endfilter %}

</section>



{% endblock %}