{% extends "layout.twig" %}

{% block content %}	

<section class="grid-container features-container">

	<div class="select-categories-container">
		<h2 class="select-categories-title">Select <span>Categories</span> </h2>
		<form class="select-categories-input-container">
			<div class="select-categories-input-wrapper">
					<input class="select-categories-input" type="radio" id="all"
					name="category" value="all" checked />
					<span class="select-categories-checkmark"></span>
					<label class="select-categories-input-label" for="all">All</label>
			</div>
		 {% for category in categories %}
			<div class="select-categories-input-wrapper">
					<input class="select-categories-input" type="radio" id="{{category.name}}"
					name="category" value="{{category.name}}"  />
					<span class="select-categories-checkmark"></span>
					<label class="select-categories-input-label" for="all">{{category.name}}</label>
			</div>		 
		 {% endfor %}
		</form>
	</div>	

	{% include 'partials/grid.twig' %}

</section>

{% endblock %}