
{% extends "layout.twig" %}

{% block content %}



	<section id="basket-checkout-confirmation">
		<form name="checkout" method="post" class="container checkout woocommerce-checkout" action="<?php echo esc_url( wc_get_checkout_url() ); ?>" enctype="multipart/form-data">

			


			<div class="breadcrumb">
				<h4><a href="shop.html">Shop</a><img class="chevron" src="{{theme.link}}/img/chevron-right-black.png"><a href="basket.html">Basket</a><img class="chevron" src="{{theme.link}}/img/chevron-right-black.png"><a href="/checkout">Checkout</a></h4>
			</div>

			
		 {% filter shortcodes %}
     	[woocommerce_checkout]
     {% endfilter %}


	</form>
</section>



{% endblock %}

