{% extends "layout.twig" %}

{% block content %}	

<section class="grid-container features-container">

	<div class="select-categories-container">
		<h2 class="select-categories-title">Select <span>Categories</span> </h2>
		<form class="select-categories-input-container">
			<div class="select-categories-input-wrapper">
					<input class="select-categories-input" type="radio" id="all"
					name="category" value="all" checked />
					<span class="select-categories-checkmark"></span>
					<label class="select-categories-input-label" for="all">All</label>
			</div>
		 {% for category in categories %}
			<div class="select-categories-input-wrapper">
					<input class="select-categories-input" type="radio" id="{{category.name}}"
					name="category" value="{{category.name}}"  />
					<span class="select-categories-checkmark"></span>
					<label class="select-categories-input-label" for="all">{{category.name}}</label>
			</div>		 
		 {% endfor %}
		</form>
	</div>	

	{% include 'partials/grid.twig' %}

</section>

{% endblock %}



	<section id="recommended-feature">
		<div class="container">
			<div class="sub-heading">
				<h4>Recommended Feature</h4>
			</div>
			<div class="featured-image" style="background-image: url('img/recommended-feature-image.jpg');">
			</div>
			<div class="heading">
				<h1>A Day In New York<br class="tablet-hide"> <span class="poppins">With Sandflower</span></h1>
			</div>
			<div class="author-date-category">
				<h4>Catarina Ramalho <span class="worksans mobile-hide">/</span> <br class="mobile-display">Sep 24, 2018 <span class="worksans">/</span> Music, Style</h4>
			</div>
			<div class="stand-first">
				<h2>
					Above the honking cars and surreptitiousness runnery of midtown Manhattan, we met with singer-songwriter-actress-designer Sandflower.
				</h2>
			</div>
			<p>
				In a recording studio, where the old Atlantic Records recording rooms used to be, we sit to wax lyrical about musical influences. From the myriad of genres and unbeknownst avant-guard artists that constitute her daily playlist, she highlights one of the leading forces of the Afrobeat music genre, Nigerian multi-instrumentalist Fela Kuti,  as a constant source of inspiration, as well as, traditional Indonesian and Balinese Gamelan. The genre-fluid artist has recently paid her homage to Indonesia’s ancestral music. Her single “Oceans” with the percussionist DuoPercussion bridges old worlds with the new.
			</p>
			<div class="gradient"></div>
			<div class="call-to-action">
				<a href="feature.html"><button>Read the Full Feature</button></a>
			</div>
		</div>
	</section>