{% extends "layout.twig" %}

{% block content %}	

<section id="about">
		<div class="container">
			<h3>About the <span class="poppins">Magazine</span></h3>
			<h1>We Like to<br> <span class="poppins">Look Forward</span></h1>
			<h2>Put together by a family of writers, photographers and artists, tmrw is an independent lifestyle bible meets alternative encyclopedia, that packages music and culture in a manner that is both unique and radical. Driven by minimalism, design and the beautiful things in life, tmrw is all of your favourite things, as you’ve never seen them before.</h2>
			<hr>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<div class="left-column">
				<h2>Contact <span class="poppins">Details</span></h2>
			</div>
			<div class="right-column">
				<h4>General enquires</h4>
				<p><a href="mailto:">info@tmrwmagazine.com</a></p>
				<h4>Order related queries</h4>
				<p><a href="mailto:">orders@tmrwmagazine.com</a></p>
				<h4>Social Media</h4>
				<p>
					<a href="{{options.social_.facebook}}">Facebook</a><br>
					<a href="{{options.social_.twitter}}">Twitter</a><br>
					<a href="{{options.social_.instagram}}">Instagram</a>
				</p>
			</div>
			<hr>
		</div>
	</section>
	<section id="faq">
		<div class="container">
			<h3>Frequently <span class="poppins">asked questions</span></h3>
			<div class="left-column">
				<h4>Do you offer worldwide shipping?</h4>
				<p>Yes, we deliver to every address in the world.</p>
				<h4>How do I find my nearest stockist?</h4>
				<p>Find your local stockist using the store locator below. Worldwide shipping is also available on single copies via our shop.</p>
				<h4>Why is each volume priced at £9.99?</h4>
				<p>tmrw is of the highest quality and has been described as ‘more of a book than a magazine’. Each tmrw volume consists of 230+ pages of art and culture, that is perfect bound and printed in full colour on fsc-approved uncoated paper in the united kingdom. We are proud to be the only publication that offers 20+ pages to the cover story and 10+ pages to each inside music feature.</p>
				<h4>Can I check the availability of stock on the shop?</h4>
				<p>Stock check is currently not available, however all volumes have a limited print run and are sold on a first come first served basis.</p>
				<h4>What makes tmrw different to other magazines?</h4>
				<p>tmrw is perfect for your coffee table and is a must-have lifestyle bible. We pride ourselves on quality and distancing ourselves from the perception of a ‘magazine’.</p>
				<h4>Do you offer a digital version of each volume?</h4>
				<p>No, the content inside each volume is exclusive to print, however our website offers a taste of what you can find in each print edition.</p>
			</div>
			<div class="right-column">
				<h4>How do I pay on the shop?</h4>
				<p>You can pay securely on our web-store via Paypal or with a debit or credit card.</p>
				<h4>What currency do I pay in?</h4>
				<p>The store is priced in GBP (£) but will be converted to your local currency during the checkout process.</p>
				<h4>Can I subscribe?</h4>
				<p>You can subscribe to the next 6 months (3 print volumes) of tmrw or purchase each volume individually. </p>
				<h4>Who do I contact if I have a query about my order?</h4>
				<p>Please e-mail orders@tmrwmagazine.com</p>
				<h4>Can I make changes to an order?</h4>
				<p>You can set up an account when purchasing any product on the shop and this will give you the ability to make changes if required.</p>
				<h4>I need more information, where do I look?</h4>
				<p>Please e-mail info@tmrwmagazine.com for more info.</p>
			</div>
			<hr>
		</div>
	</section>

		<section id="stockists">
		<div class="container">

			<h3>Find Your <span class="poppins">Closest Store</span></h3>

			{% filter shortcodes %}
				[SLPLUS hide_map="true"]     	
			{% endfilter %}
	


			<p class="stockist-enquiry small">
				If you are interested in becoming a stockist or want to recommend a stockist, please email <a href="mailto:">info@tmrwmagazine.com</a>.
			</p>
		</div>
	</section>

{% endblock %}


{% block subscription %}
{% endblock%}


{% block scripts %}
	{{ parent() }}
		<script type="text/javascript">
			$(document).ready(function() {$('.slp_results_container').addClass( 'container-nested' );});
		</script>
{% endblock %}