
{% extends "layout.twig" %}

{% block content %}



<section class="grid-container cart-container">


    {% filter shortcodes %}
        [woocommerce_my_account]
    {% endfilter %}

</section>



{% endblock %}