{% extends "layout.twig" %}

{% block content %}

<div class="container">
    <div id="product-{{ post.id }}" {{ fn('post_class', ['product', 'product--' ~ post.product.get_type()]) }}>


        {% if post.thumbnail %}
            <img src="{{ post.thumbnail.src }}">
        {% endif %}


        <div class="product-summary">
            {##
			 # woocommerce_single_product_summary hook.
			 #
			 # @hooked woocommerce_template_single_price - 10
			 # @hooked woocommerce_template_single_add_to_cart - 30
             #}
            {% do action( 'woocommerce_single_product_summary' ) %}
        </div>


    </div>

</div>

{% endblock %}
