<!-- Go To Shop -->
	<section id="go-to-shop">
		<div class="container">
			<div class="title">
				<h2>Get a Copy of Our <span class="poppins">Printed Magazine</span></h2>
			</div>
			<div class="info">
				<h4>£9.99 <span class="worksans">(</span>Excl. Delivery<span class="worksans">)</span></h4>
				<p>Take a look at our shop for current and back catalogue volumes to get yourself a copy of our printed magazine now.<sup> 2</sup></p>
				<a href="{{site.url}}/shop">
					<button formaction="{{site.url}}/shop/">Shop Now</button>
				</a>
				<p class="small"><sup>2 </sup>Products avaliable as long as stocks last.</p>
			</div>
		</div>
	</section>