<section id="instagram-module" style="background-image: url({{options.instagram_module.image}});">
	<div class="container">
		<div class="title">
			<a href="{{options.social_.instagram}}">
				<h2>{{options.instagram_module.title}}<br><span class="poppins">{{options.instagram_module.subtitle}}</span></h2>
			</a>
		</div>
	</div>
</section>

