<section id="store-locator-module">
	<div class="container">
		<div class="title">
			<h2>Find Your<br><span class="poppins">Closest Store</span></h2>
		</div>
		<div class="info">
			<p>Use our store finder to locate your closest tmrw stockist.</p>
			<a href="/magazine#stockists">
				<button>Open Store Finder</button>
			</a>
		</div>
	</div>
</section>